*
{
	font-family: 'Advent Pro', sans-serif;
}
body
{
	margin: 0px;
	display: block;

}
/*.body
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
*/

/*FORMES*/

.square
{
	height: 122px;
	width: 122px;
}
.line
{
	height: 122px;
	width: 90%;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}
.little-rect
{
	height: 62px;
	width: 122px;
}
.site-title
{
	font-size: 50px;
}
h1
{
	font-size: 60px;
}
h2
{
	font-size: 20px;
}
h3
{
	font-size: 15px;
	color: #707070;
}
p
{
	font-size: 10px;
	color: #AAA;
}
.txt-center
{
	text-align: center;
}
/*Formulaires*/

form
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;

}
input
{
	height: 22px;
	width: 60%;
	margin-bottom: 20px;
}
.submit
{
	height: 22px;
	border-radius: 5px;
	background-color: white;
	font-size: 15px;

	color: white;
}
.big-submit
{
	display: inline-block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 20%;
	border-radius: 5px;
	background-color: #FF8181;
	font-size: 15px;

	color: white;
}
.marginrl10
{
	margin-left: 10px;
	margin-right: 10px;
}
.marginrlauto
{
	margin-left: auto;
	margin-right: auto;
}
.margintb
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.padding10
{
	padding: 10px;
}
.paddingtb20
{
	padding-top: 20px;
	padding-bottom: 20px;
}
.paddingb50
{
	padding-bottom: 50px;
}
a
{
	text-decoration: none;
	font-weight: bold;
}
/*HEADER*/
header
{
	width: 100%;
	
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.fixed
{
	position: fixed;
}
.shadow1
{
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
}
.shadow2
{
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

.borderon
{
	border: 1px black solid;
}
nav
{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 60%;
}
ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}
li
{
	list-style: none;
}
.logo
{
	height: 60px;
}

footer
{
	width: 100%;
	position: fixed;
	bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 20px;
	
	
}
footer .big-submit
{
	right: 40%;
	left: 40%;
}
/*Marges*/
.w100
{
	width: 100px;
}
.w60x
{
	width: 60%;
}
.h100x
{
	height: 100%;
}
.margintt50
{
	margin-top: 50px;
}
.nomargin
{
	margin: 0px;
}
.nomargin-bottom
{
	margin-bottom: 0px;
}
.nomargin-top
{
	margin-top: 0px;
}
.flex-center
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.inblock
{
	display: inline-block;
	width: 100%;
}
.block
{
	display: inline-block;
}
.colonne
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/*COULEURS*/

.gf
{
	color:#707070;
}
.gc
{
	color: #AAAAAA;
}
.bl
{
	color: #58D8D8;
}
.r
{
	color: #FF8181;
}
.j
{
	color: #F2C300;
}
.n
{
	
	color: black;
}
.v
{
	color: rgb(178, 18, 112);
}
.ve
{
	color: #7ed957;
}
.bc
{
	color: #F7F7F7;
}
.b
{
	color: white;
}

.bgf
{
	background-color:#707070;
}
.bgc
{
	background-color: #AAAAAA;
}
.bb
{
	background-color: #58D8D8;
}
.br
{
	background-color: #FF8181;
}
.bj
{
	background-color: #F2C300;
}
.bn
{
	background-color: black;
}
.bbc
{
	background-color: #F7F7F7;
}
.bb
{
	background-color: white;
}
.bv
{
	background-color: rgb(178, 18, 112);
}
.bve
{
	background-color: #7ed957;
}

/*Animation*/

.hvr-grow-shadow {
  
  vertical-align: middle;
 
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  transition-duration: 0.3s;

  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  
  transform: scale(1.1);
}
/* Grow */
.hvr-grow {
  
  vertical-align: middle;
  
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  transition-duration: 0.3s;
 
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}

/*GLOW*/
.hvr-glow {
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  cursor: pointer;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
/*Round corners*/

.hvr-round-corners {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
}
.hvr-round-corners:hover, .hvr-round-corners:focus, .hvr-round-corners:active {
  border-radius: 1em;
}
.mouse
{
	cursor: pointer;
}
@media (max-width: 700px)
{
	h1, .title
	{
		font-size: 40px;
	}
}